<div class="containerDiv">
    <h1 class="titleH1">{{ book().title }}</h1>
    
         @if (book().imageUrl) {
            <div class="imgContainer">
            <img [src]="book().imageUrl">
            </div>
         } @else {
            <div class="alternate-text-container">
            <h2>Display image not available</h2>
          </div>   
         }
    
    <p class="info-regular">Price: {{ book().price }}</p>
    <p class="info-regular">ISBN: {{ book().isbn }}</p>
    <p class="info-regular">Author: {{ book().author.name }} {{ book().author.lastName }}</p>
    <p class="info-regular">Category: {{ book().category.name }}</p>
    <p class="info-regular">Genre: {{ book().genre.name }}</p>
    <br>

    @if(book().orderAmount) {
      <p class="info-order">Order Amount: {{ book().orderAmount }}</p>
    }
    
    <dialog #orderDialog>
         <p>Please enter the number of copies you would like to order.</p>
         <div class="modal-container">
         <input class="numInput" type="number" min ="0" placeholder="Please enter your order here" 
               [(ngModel)]="orderAmount" (keypress)="logValue()">
         <button (click)="orderDialog.close()">Cancel</button>
         <button (click)="orderAttempt()" [disabled]="!orderAmount || orderAmount <= 0">Accept</button>
         </div>
    </dialog>

    @if(!book().hideOrderButton) {
    <button class="btn-order" (click)="orderDialog.show()">
      Order</button>
    }
</div>