.containerDiv {
    // border: 5px solid black; 
    // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif; 
    font-size: 16px;
    color: #261916; 
    width:200px;
    border-radius: 10px;
    padding: 5px 15px 15px 15px;
    background-color: rgb(66, 61, 61); 
    margin-bottom: 25px;
    margin-right: 25px;
    box-shadow: 0 0 8px 4px black,
                0 0 6px 2px rgb(50, 50, 50), 
                0 0 4px 1px rgb(66, 61, 61);
}

.imgContainer {
    margin: 0 -10px 10px -10px;
    border-radius: 10px;
    width: 100%;  
    max-width: 200px;
    height: 200px;  
    overflow: hidden;  
}

.alternate-text-container {
    margin: 0 -10px 10px -10px;
    border-radius: 10px;
    width: 100%;  
    max-width: 200px;
    height: 90px;  
    overflow: hidden;  
}

.imgContainer img {
    width: 100%;  
    height: 100%;  
    object-fit: cover; 
    object-position: center;
}


.titleH1 {
    background-color: rgb(14, 155, 155); 
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0 -10px 10px -10px; 
}

.info-regular {
    font-size: 14px;
    color: thistle; 
    margin: 5px 0;
}

.btn-order {
    border-radius: 7px;
    background-color: lightseagreen;
    padding: 7px;
    color: rgb(66, 66, 66);
}

dialog {
    width: 400px; 
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: darkgrey;
    text-align: center;
}

dialog[open] {
    animation: fadeIn 0.3s ease-out;
}

.modal-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.numInput {
    width: 100px;
}