.containerDiv {
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    position: fixed;
    z-index: -1; 
    object-fit: cover;
}

.containerDiv img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}