<p>login works!</p>

<form [formGroup]="form" (submit)="onSubmit()">
    <div>
        <label for="email">Please enter your email: </label>
        <br>
        <input type="text" placeholder="email" formControlName="email">
    </div>
    <div>
        <label for="password">Please enter your password: </label>
        <br>
        <input type="password" placeholder="password" formControlName="password">
    </div>
    <br>
    <div>
        <button type="submit">Login</button>
    </div>
</form>