<div class="auth-content-pane background-container">
    <img src="/login.avif" alt="image failed" class="background-img">
    <form class ="auth-form" [formGroup]="form" (submit)="onSubmit()">
    <div class="auth-field-div">
        <label for="email">Please enter your email: </label>
        <br>
        <input class="auth-input" type="text" placeholder="email" formControlName="email">
    </div>
    <div class="auth-field-div">
        <label for="password">Please enter your password: </label>
        <br>
        <input type="password" class="auth-input" placeholder="password" formControlName="password">
    </div>  
    @if (!this.submitted) {
    <div>
        <button class="green-btn" type="submit">Login</button>
    </div>
    }
</form>
</div>

